body {
  margin: 0;
  background-color: rgb(51, 54, 75);
}

.heading-style {
  font-style: italic;
  font-family: monospace;
  font-weight: 100;
  font-size: 20pt;
}

.dreamsauce {
  font-style: italic;
  font-family: "Exo 2", sans-serif;
  font-weight: 100;
  font-size: 20pt;
  text-align: center;
}

.intro {
  font-size: 14pt;
  font-family: monospace;
}

.paragraph-style {
  font-family: monospace;
  font-size: 14pt;
}

p,
h1 {
  margin: 1rem;
  color: white;
  font-weight: 100;
  line-height: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(33, 34, 48);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar li {
  margin-left: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.active {
  color: rgb(152, 240, 243);
}

.nav-font {
  font-family: monospace;
  font-size: 12pt;
}

header img {
  padding-top: 3rem;
}

img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.section-padding {
  padding-top: 3.5rem;
  margin-top: 0;
}

.faq-answer::before {
  content: "→   ";
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(205, 185, 238);
  color: rgb(8, 8, 8);
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  z-index: 1;
}

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
}
figure {
  margin: 0;
  position: relative;
}

figure::after {
  mix-blend-mode: multiply;
  content: "";
  display: block;
  background: rgb(143, 141, 245);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.aspect-ratio-16-9 {
  padding-top: 56.25%;
  position: relative;
  z-index: -1;
}

.video-padding {
  padding-top: 3rem;
}

.aspect-ratio-16-9 iframe {
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.carousel-image {
  scroll-snap-align: end;
}

.second-picture {
  display: none;
}

@media (min-width: 1065px) {
  .home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin-top: 0;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .paragraph-style {
    margin-bottom: 0;
    font-size: 11pt;
  }

  .dreamsauce {
    font-size: 40pt;
    background-color: rgba(29, 29, 56, 0.432);
  }

  .home-paragraph {
    background-color: rgba(13, 13, 26, 0.712);
    margin: 5rem;
    font-size: 24pt;
    text-align: center;
  }
  .navbar {
    gap: 30rem;
  }

  .navbar > ul {
    gap: 2rem;
    font-size: 20pt;
  }

  .about-grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .about-section {
    margin-top: 3.75rem;
  }

  header > img {
    padding-top: 0rem;
  }

  .second-picture {
    display: block;
  }
}
